FLASK_ENV=development
SECRET_KEY=
DATABASE_URL=postgresql+psycopg2://postgres:CHANGE_ME@127.0.0.1:5433/blockchain_storage

# minio (local development), s3 (production)
STORAGE_PROVIDER=minio
SIGNED_URL_EXPIRY_SECONDS=300

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

MINIO_ENDPOINT=localhost:9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=cloud-storage
# MINIO_IMAGE=minio/minio:RELEASE.2025-09-07T16-13-09Z

ENCRYPTION_KEY=

BLOCKCHAIN_NETWORK=
BLOCKCHAIN_CHANNEL=
BLOCKCHAIN_CHAINCODE=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=blockchain_storage